<html>
	<head>
		<title>サイコロ</title>
	</head>
	<body>
	<h1>サイコロ</h1>
	<ul>
		<li><%= link_to("ホーム", :action => "index") %></li>
		<li><%= link_to("サイコロを振る", :action => "shake") %></li>
		<li><%= link_to("賭博", :action => "gamble") %></li>
		<li><%= link_to("レポート", :action => "report") %></li>
	</ul>
	<%= yield %>
	<hr>
	<p>created by sagoyama</p>
	</body>
</html>
